{% extends 'base.html' %}

{% block content %}

<button id="custom-button">Pay with card</button>

<script src="http://checkout.stripe.com/checkout.js"></script>
<script>
    var handler = StripeCheckout.configure({
        key: "{{ key }}",
        image: "https://stripe.com/img/documentation/checkout/marketplace.png",
        local: "auto",
        token: function(token){
            console.log(token)
        }
    });
    document.getElementById("custom-button").addEventListener("click",function(event){
        //Open checkout with further options if available:
        handler.open({
            name:"Post Credits",
            description: "Change for Life as a developer credits",
            amount: '{{ price }}' //cents
        });
        event.preventDefault();
    });

    // Close checkout on page:
    window.addEventListener("popstate",function(){
        handler.close();
    });
</script>
<script src="../static/js/payment.js"></script>
{% endblock content %}