{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="form-group">
        <form action="" method="POST">
            <fieldset>
                {{ post_form.title.label }}
                {{ post_form.title(class="form-control")}}
            </fieldset>
            <fieldset>
                {{ post_form.content.label }}
                {{ post_form.content(class="form-control")}}
            </fieldset>
            {{ post_form.submit(class="btn btn-primary")}}
        </form>
    </div> 
</div>

{% endblock content %}